{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <!-- Все стили уже в custom_admin.css -->
{% endblock %}

{% block content %}
<div id="content-main">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        
        {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
                {% blocktranslate count counter=form.errors.items|length %}Пожалуйста, исправьте ошибку ниже.{% plural %}Пожалуйста, исправьте ошибки ниже.{% endblocktranslate %}
            </p>
        {% endif %}
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="errornote">{{ error }}</p>
            {% endfor %}
        {% endif %}
        
        <div class="form-row">
            {{ form.username.errors }}
            <label for="id_username" class="required">{{ form.username.label }}:</label>
            {{ form.username }}
        </div>
        
        <div class="form-row">
            {{ form.password.errors }}
            <label for="id_password" class="required">{% translate 'Password:' %}</label>
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        
        <div class="submit-row">
            <input type="submit" value="{% translate 'Войти' %}">
        </div>
    </form>
</div>
{% endblock %}